<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in | ISLAMIA enterprise</title>
    <link rel="shortcut icon" href="{{ asset('images/lightBulb.png') }}" type="image/x-icon">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">


    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        body:before{
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            z-index: -1;
            display: block;
            background:linear-gradient(0deg, rgba(0, 0, 0, .70), rgba(0, 0, 0, .70)), url({{ asset('images/login-bg-2.jpg') }});
            background-size:cover;
            width: 100%;
            min-height: 100%;
        }
        body{
            position: fixed;
            left: 0;
            right: 0;
            z-index: 0;
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</head>
<body class="hold-transition login-page">
<div class="login-box text-white" style="width: 300px;">
    <div class="login-logo">
        <b>ISLAMIA</b>enterprise
    </div>
    {% if error %}
        <div class="alert alert-error alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="color: #000 !important;">&times;</button>
            <i class="icon fa fa-warning"></i>{{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h6 class="login-box-msg h1">Login</h6>

        <form action="" method="post">
            <div class="form-group has-feedback">
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="username" required autofocus>
                <span class="fa fa-user-o form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" placeholder="Password" id="inputPassword" class="form-control" required>
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-facebook btn-lg btn-flat"><i class="fa fa-sign-in"></i>&nbsp; Sign In</button>
                </div>
                <!-- /.col -->
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>