{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{#  <link rel="stylesheet" href="{{ asset('css/datatable/dataTables.bootstrap5.min.css') }}">#}
  <link rel="stylesheet" href="{{ asset('css/datatable/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/datatable/buttons.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }} ">
  <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.min.css') }} ">
  <style>
    select {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='blue' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
    }
/*    select option{
      background: #03045e;
    }*/
  </style>

{% endblock %}
{% block body %}
  {% include 'inc/nav.html.twig' %}
  <!-- Navbar -->
{#  <nav>#}
{#    <h1 class="h1 border-5 border-bottom border-warning text-white text-center position-sticky top-0" style="box-shadow: 0 -3px 15px 0px #000000fa; background: #03045e; z-index: 99">Store Management System<i class="fas fa-store"></i></h1>#}
{#  </nav>#}

  <div class="container-fluid pt-2">
    <div class="row">
      <div class="col-md-8">
        {% for messages in app.flashes %}
          {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show p-2" role="alert">
              {{ message }}
              <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endfor %}
        <div class="card rounded-0 shadow">
          <div class="card-header rounded-0 bg-primary bg-gradient-primary text-white border-bottom border-3 border-warning">
            <h5 class="card-title mb-0"><i class="fas fa-th-list" style="margin-right: 5px"></i>All Products</h5>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-1 pt-2">
            <table id="productTable" class="table table-hover table-bordered table-striped">
              <thead class="text-white" style="background: #03045e">
              <tr>
                <th>{{ 'S/N'|trans }}</th>
                <th>{{ 'Products Name'|trans }}</th>
                <th>{{ 'Quantity'|trans }}</th>
                <th>{{ 'Purchase Date'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
              </tr>
              </thead>
              <tbody>
              {% for product in products %}
                <tr>
                  <td class="p-0 text-center" width="50">{{ loop.index|trans }}</td>
                  <td class="p-0">{{ product.name }}</td>
                  <td class="p-0 text-center">{{ product.quantity }}</td>
                  <td class="p-0">{{ product.purchaseDate|date('d/m/Y') }}</td>
                  <td class="p-0">
                    <div class="btn-group btn-group-sm">
                      <a href="{{ path('product_edit',{'id':product.id}) }}" class="btn btn-sm"><i class="fas fa-edit text-warning"></i></a>
                      <a href="{{ path('product_delete',{'id':product.id}) }}" class="btn btn-sm" onclick="confirm('Are you sure to delete the product?')"><i class="fas fa-trash text-danger"></i></a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-header bg-primary bg-gradient-primary text-white border-bottom border-3 border-warning">
            <h5 class="card-title mb-0"><i class="fas fa-plus-square" style="margin-right: 5px"></i>Add Products</h5>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            {{ form_start(form) }}

            {{ form_label(form.name,  'Name :') }}
            {{ form_widget(form.name) }}

            <div class="row g-3 mt-2 mb-3">
              <div class="col-md-6">
                {{ form_label(form.quantity,'Quantity :') }}
                {{ form_widget(form.quantity,{'attr':{'type': 'number'}}) }}
              </div>
              <div class="col-md-6">
                {{ form_label(form.purchaseDate, 'Purchase Date:') }}
                {{ form_widget(form.purchaseDate,{'id':'datepicker'}) }}
              </div>
            </div>
            <div class="row g-3 mb-3">
              <div class="col-md-6">
                {{ form_label(form.category, 'Category :') }}
                {{ form_widget(form.category) }}
              </div>
              <div class="col-md-6">
                {{ form_label(form.productType, 'Type:') }}
                {{ form_widget(form.productType,{'attr':{'class':'form-select'}}) }}
              </div>
            </div>
            <div class="d-grid gap-2 mb-1">
              {{ form_widget(form.save,{'attr':{'class': 'btn-warning bg-gradient'}}) }}
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>

  </div>

{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <!-- DataTables  & Plugins -->
  <script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('js/datatable/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('js/datatable/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('js/datatable/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ asset('js/datatable/jszip.min.js') }}"></script>
  <script src="{{ asset('js/datatable/pdfmake.min.js') }}"></script>
  <script src="{{ asset('js/datatable/vfs_fonts.js') }}"></script>
  <script src="{{ asset('js/datatable/buttons.html5.min.js') }}"></script>
  <script src="{{ asset('js/datatable/buttons.print.min.js') }}"></script>
{#  <script src="{{ asset('js/datatable/buttons.colVis.min.js') }}"></script>#}
  

  <!-- Page specific script -->
  <script>
    $(function () {
      $("#productTable").DataTable({
        "responsive": false, "lengthChange": false, "autoWidth": true,
        "buttons": ["excel", "pdf"]
      }).buttons().container().appendTo('#productTable_wrapper .col-md-6:eq(0)');
    });
  </script>
  <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker({
        dateFormat: 'dd-mm-yy',
        "lengthChange": false,
      });
      $("#datepicker").datepicker("option", "showAnim", 'blind');
    } );
  </script>
{% endblock %}
