{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-datepicker.min.css') }}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block contentTitle %}
    Product Archive <small>Purchase History!</small>
{% endblock %}
{% block body %}

    <!-- Main content -->
    <section class="content">

        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-th-list" style="margin-right: 5px;"></i>Archive </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    {#                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>#}
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="row">
                    <div class="col-md-6 col-md-offset-3 margin-bottom">
                        {{ form_start(filterForm) }}
                        <table width="100%">
                            <thead>
                            <tr>
                                <th>{{ form_widget(filterForm.monthYear,{'id': 'datepicker','attr':{'autocomplete': 'off','placeholder': 'e.g. mm-YYYY'}}) }}</th>
                                <th>{{ form_widget(filterForm.filter, {'attr':{'class':'btn-flat bg-primary'}}) }}</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center text-white bg-primary box-header text-bold">{{ filterBy|date('F-Y') }}</h4>
                    </div>
                </div>
                <table id="datatable" class="table">
                    <thead>
                    <tr>
                        <th width="10" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Product Name'|trans }}</th>
                        <th>{{ 'Purchase Price'|trans }}(tk)</th>
                        <th>{{ 'Quantity'|trans }}(pcs)</th>
                        <th>{{ 'Purchase Date'|trans }}</th>
{#                        <th width="20%"><i class="fa fa-gear"></i></th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% if records is not empty and records is iterable %}
                        {% for record in records %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    {{ record.productName|default('') }}
                                    {% if record.watt is not null %}
                                        <strong>({{ record.watt }} w)</strong>
                                    {% endif %}
                                </td>
                                <td>{{ record.purchasePrice|default(0) }}</td>
                                <td>{{ record.quantity|default(0) }}</td>
                                <td>{{ record.purchaseDate|date('d-m-Y') }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset('/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/js/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $("#datepicker").datepicker( {
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months"
        });
        $(function () {
            $('#datatable').DataTable({
                'paging'      : false,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : false
            })
        })
    </script>
{% endblock %}
