{% extends 'base.html.twig' %}

{% block body %}
    {% include 'inc/nav.html.twig' %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card">
                    <div class="card-header bg-primary bg-gradient-primary text-white border-bottom border-3 border-warning">
                        <h5 class="card-title mb-0"><i class="fas fa-plus-square" style="margin-right: 5px"></i>Add Products</h5>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {{ form_start(form) }}

                        {{ form_label(form.name,  'Name :') }}
                        {{ form_widget(form.name) }}
                        {{ form_help(form.name) }}

                        <div class="row g-3 mt-2 mb-3">
                            <div class="col-md-6">
                                {{ form_label(form.quantity,'Quantity :') }}
                                {{ form_widget(form.quantity,{'attr':{'type': 'number'}}) }}
                                {{ form_help(form.quantity) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.purchaseDate, 'Purchase Date:') }}
                                {{ form_widget(form.purchaseDate,{'id':'datepicker'}) }}
                                {{ form_help(form.purchaseDate) }}
                            </div>
                        </div>
                        <div class="row g-3 mb-3">
                            <div class="col-md-6">
                                {{ form_label(form.category, 'Category :') }}
                                {{ form_widget(form.category) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.productType, 'Type:') }}
                                {{ form_widget(form.productType,{'attr':{'class':'form-select'}}) }}
                            </div>
                        </div>
                        <div class="row g-3 mb-lg-5">
                            <div class="col">
                                {{ form_widget(form.image) }}
                            </div>
                        </div>
                        <div class="d-grid gap-2 mb-1">
                            {{ form_widget(form.save,{'attr':{'class': 'btn-warning bg-gradient'}}) }}
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

