<style>
    .form-select {
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
    }
    .form-select option{
        background: #03045e;
    }
</style>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-white">
        <div class="modal-content border-bottom border-3 border-warning border-top-0 border-start-0 border-end-0" style="background: #03045e;">
            <div class="modal-header">
                <h5 class="modal-title text-warning" id="staticBackdropLabel">Add New Product!</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form,{'action':path('product_index')}) }}

                {{ form_label(form.name,  'Name :') }}
                {{ form_widget(form.name,{'attr':{'style': 'background: #03045e; color: #fff'}}) }}
                {{ form_help(form.name) }}

                <div class="row g-3 my-3">
                    <div class="col-md-6">
                        {{ form_label(form.quantity,'Quantity :') }}
                        {{ form_widget(form.quantity,{'attr':{'style': 'background: #03045e; color: #fff'},'type': 'number'}) }}
                        {{ form_help(form.quantity) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.purchaseDate, 'Purchase Date:') }}
                        {{ form_widget(form.purchaseDate,{'id':'datepicker','attr':{'style': 'background: #03045e; color: #fff','class':'fas fa-calendar-alt'}}) }}
                        {{ form_help(form.purchaseDate) }}
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.category, 'Category :') }}
                        {{ form_widget(form.category,{'attr':{'class':'form-select','style': 'background: #03045e; color: #fff'}}) }}
                        {#                {{ form_help(form.category) }}#}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.productType, 'Type:') }}
                        {{ form_widget(form.productType,{'attr':{'class':'form-select','style': 'background: #03045e; color: #fff'}}) }}
                        {#                {{ form_help(form.productType) }}#}
                    </div>
                </div>

                <div class="d-grid gap-2 mb-1">
                    {{ form_widget(form.save,{'attr':{'class': 'btn-warning bg-gradient'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>
