<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ allSales[0].orderDate|date('F-Y') }} | Product Sale</title>
{#    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">#}
{#    <link rel="stylesheet" href="css/bootstrap.min.css">#}
    <style>
        .heading-area{
            text-align: center;
            margin-bottom: 10px;
        }
        .heading-area h3{
            border-bottom: 2px solid #000000;
            padding-bottom: 3px;
        }
        table tr th, table tr td{
            border: 1px solid #cccccc;
        }
        table thead tr th{
            font-size: 13px;
            padding: 2px 5px;
            background-color: #edf2f7;
        }
        table tr td{
            padding: 2px 5px;
            font-size: 13px;

        }
    </style>
</head>
<body>
<div class="heading-area">
    <h2>{{ 'Sun Electro Industries LTD'|upper|trans }}</h2>
    <p style="margin: 0; font-weight: 700"><em>{{ 'Marketed By: M/S Islamia Traders'|trans }}</em></p>
    <p style="margin: 0; font-weight: 600">{{ 'All types of electrical goods are sold wholesale and retail here'|trans }}</p>
    <p style="margin: 0; font-weight: 600">{{ 'Rajendrapur Cantt. Gazipur Sadar, Gazipur'|trans }}</p>
    <h3>Product Sale List ({{ allSales[0].orderDate|date('F-Y') }})</h3>
</div>
<table cellpadding="0" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th width="10" class="text-center">{{ 'S/N'|trans }}</th>
        <th>{{ 'Customer Name'|trans }}</th>
        <th>{{ 'Customer Phone'|trans }}</th>
        <th>{{ 'Total Amount (tk)'|trans }}</th>
        <th>{{ 'Sale Date'|trans }}</th>
    </tr>
    </thead>
    {% if allSales is not empty and allSales is iterable %}
        {% set total = 0 %}
        <tbody>
            {% for sale in allSales %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ sale.customerName|default('N/A') }}</td>
                    <td>{{ sale.customerPhone|default('N/A') }}</td>
                    <td align="right">{{ sale.totalPrice|default(0) }}</td>
                    <td align="right">{{ sale.orderDate|date('d-m-Y')|default('N/A') }}</td>
                </tr>
                {% set total = total + sale.totalPrice %}
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="3" align="center"> Total </th>
            <th align="right">{{ (total)|number_format(2,'.') }} TK</th>
            <th></th>
        </tr>
        </tfoot>
    {% endif %}
</table>
</body>
</html>
