{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}

{% block contentTitle %}
    Update Due Amount <small>Take due amount</small>
{% endblock %}
{% block body %}

    <!-- Main content -->
    <section class="content">
        <!-- /.box -->

        <div class="box">
            <div class="box-header">
{#                <h3 class="box-title"><i class="fa fa-google-wallet" style="margin-right: 5px;"></i>List </h3>#}
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse"><i class="fa fa-minus"></i></button>
                    {#                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>#}
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <div class="form-group">
{#                            {{ form_label(form.saleId, 'Receipt No:') }}#}
                            {{ form_widget(form.saleId,{'attr': {'class': 'select2'}}) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
{#                            {{ form_label(form.dueAmount) }}#}
                            {{ form_widget(form.dueAmount,{'attr': {'placeholder': 'Due Amount'}}) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_widget(form.Submit) }}
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                {{ form_end(form) }}
                <hr>
                <div class="row saleSummary">
                    <div class="col-md-8 col-md-offset-2">
                        <style>
                            table tbody tr td:first-child{
                                width: 25%;
                            }
                        </style>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th colspan="2" class="text-center">Details</th>
                                <th class="text-center">Due Amount</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/select2.full.min.js') }}"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();
        })

    </script>
    <script>
        $(document).ready(function () {
            $('.saleSummary').hide();
            $('#form_saleId').on('change', function (event) {
                $('#form_dueAmount').removeAttr('disabled'); //Active due amount field
                $.ajax({
                    url: Routing.generate('due_amount_sale_summary', {saleId: $(this).val()}),
                    type: "GET",
                    success: function (response) {
                        console.log(response);
                        if (response.status === 200){
                            let details = '<tr>' + '<td><strong>Customer Name:</strong></td>' + '<td>' + response.details.customerName + '</td>' + '<td rowspan="5" width="35%" style="vertical-align: middle;" class="text-red text-bold text-center h1">' + response.details.dueAmount + ' TK</td>' +
                                '</tr>' +
                                '<tr>' + '<td><strong>Address:</strong></td>' + '<td>' + response.details.customerAddress + '</td>' +
                                '</tr>' +
                                '<tr>' + '<td><strong>Phone:</strong></td>' + '<td>' + response.details.customerPhone + '</td>' +
                                '</tr>' +
                                '<tr>' + '<td><strong>Order Date:</strong></td>' + '<td>' + response.details.orderDate + '</td>' +
                                '</tr>' +
                                '<tr>' + '<td><strong>Total Bill:</strong></td>' + '<td>' + response.details.totalPrice + ' TK</td>' +
                                '</tr>';
                            $('.saleSummary').find('table tbody').html(details);
                            $('.saleSummary').show();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
