<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="text-center image">
                <img src="{{ asset('/uploads/photo/') ~ app.user.photo }}" class="img-circle" alt="Employee Photo">
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="btn-group-lg">
                <a href="#" class="btn bg-navy-active btn-flat" style="text-align: left">
                    <i class="fa fa-minus-square"></i> <span>Expense</span>
                </a>
                <a href="{{ path('new_sale') }}" class="btn bg-maroon btn-flat" style="text-align: left">
                    <i class="fa fa-shopping-cart"></i> <span>Sale</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i> <span>Stock</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('all_purchase_product') }}"><i class="fa fa-list"></i>All Products</a></li>
                    <li><a href="{{ path('product_purchase') }}"><i class="fa fa-plus-square"></i>Store Product</a></li>
                    <li><a href="{{ path('product_purchase_archive') }}"><i class="fa fa-database"></i>Purchase Archive</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Customer</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('all_customer') }}"><i class="fa fa-list"></i>All Customer</a></li>
                    <li><a href="{{ path('new_customer') }}"><i class="fa fa-plus-square"></i>New Customer</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-money"></i> <span>Sales</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('all_product_sale') }}"><i class="fa fa-send"></i>Sales Archive</a></li>
                    <li><a href="{{ path('new_sale') }}"><i class="fa fa-share-square"></i>New Sale</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list-alt"></i> <span>Product Details</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-info-circle"></i> <span>Item Details</span>
                            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('product_info') }}"><i class="fa fa-list"></i>Item Info</a></li>
                            <li><a href="{{ path('new_product') }}"><i class="fa fa-database"></i>New Item</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-th-large"></i> <span>Categories</span>
                            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('all_category') }}"><i class="fa fa-list"></i>All Categories</a></li>
                            <li><a href="{{ path('product_new_category') }}"><i class="fa fa-plus-square"></i>New Category</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-th-list"></i> <span>Sub-Categories</span>
                            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('all_sub_category') }}"><i class="fa fa-list"></i>All Sub-Categories</a></li>
                            <li><a href="{{ path('product_new_sub_category') }}"><i class="fa fa-plus-square"></i>New Sub-Category</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-flash"></i> <span>Power(Watt)</span>
                            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('all_power') }}"><i class="fa fa-list"></i>All Power</a></li>
                            <li><a href="{{ path('product_new_power') }}"><i class="fa fa-plus-square"></i>New Power(watt)</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-user"></i> <span>Employee / User</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('all_employee') }}"><i class="fa fa-list"></i>All Employee</a></li>
                    <li><a href="{{ path('app_register') }}"><i class="fa fa-user-plus"></i>New Employee</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-usd"></i> <span>Due Payment</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>