{% extends 'base.html.twig' %}
{% block title %}Add New Category{% endblock %}
{% block stylesheet %}
    <link href="{{ asset('css/bootstrap-toggle.min.css') }}" rel="stylesheet">
{% endblock %}
{% block contentTitle %}
    Add New Power <small>This is the location where you are able to add new power(watt)!</small>
{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                {#            <h3 class="box-title">General Elements</h3>#}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{ form_start(form,{'attr':{'id':'addNewPowerForm'}}) }}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            {{ form_label(form.watt, 'Watt:') }}
                            {{ form_widget(form.watt,{'attr': {'placeholder': 'e.g. 5'}}) }}
                            {{ form_errors(form.watt, {'attr': {'class':'help-block'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-md-offset-5 ">
                        <div class="form-group">
                            {{ form_widget(form.status) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pull-right">
                        <div class="form-group">
                            {{ form_widget(form.Submit, {'label': 'Save', 'attr':{'class': 'btn-flat btn-primary pull-right text-white w-10'}}) }}
                        </div>
                    </div>
                </div>

                {#            {{ form_end(form) }}#}
            </div>
            <!-- /.box-body -->
        </div>

    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bootstrap-toggle.min.js') }}"></script>
{% endblock %}



