{% extends 'base.html.twig' %}

{% block stylesheet %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/animate.min.css') }}">
{% endblock %}

{% block contentTitle %}
    All Power(Watt) <small>Power Type for the products!</small>
{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-th-list" style="margin-right: 5px;"></i>Power List</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse"><i class="fa fa-minus"></i></button>
                    {#                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>#}
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="productTable" class="table">
                    <thead>
                    <tr>
                        <th width="10" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Watt'|trans }}</th>
                        <th width="20%"><i class="fa fa-gear"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if power is not empty and power is iterable %}
                        {% for watt in power %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td>{{ watt.watt|default('') }} W {{ watt.status == 0 ? "<span class='bg-orange btn-flat text-white btn-xs'>Currently Unavailable!" : "" }}</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a href="javascript:" class="btn btn-sm bg-navy btn-flat"><i class="fa fa-edit"><span
                                                        style="margin-left: 3px;">Edit</span></i></a>
                                        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_DEVELOPER") %}
                                            <a href="javascript:" class="btn btn-sm bg-maroon btn-flat delete-record"><i
                                                    class="fa fa-trash"><span
                                                        style="margin-left: 3px;">Delete</span></i></a>
                                        {% endif %}
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10" align="center">{{ 'No Power(watt) Found!' }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script src="{{ asset('/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('/js/sweetalert2.min.js') }}"></script>
    <script src="{{ asset('/js/deleteConfirmationAlert.js') }}"></script>

    <!--DataTable Activation script -->
    <script>
        $(function () {
            $('#productTable').DataTable({
                "columnDefs": [{
                    "targets": -1,
                    "orderable": false
                }]
            })
        })
    </script>
{% endblock %}
